.generalTitle{
    font-family: 'Markazi Text', serif;
    font-size: 64px;
    font-weight: 500;
  }

  @media (max-width:1000px){
    .generalTitle{
      text-align: center;
    }
  }
  @media (max-width:450px){
    .generalTitle{
      font-size: 50px;
    }
  }